{% extends 'base.html' %}
{% block content %}
<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
	<!-- class OrderInfo(models.Model):
	oid = models.CharField(max_length=20, primary_key=True)
	user = models.ForeignKey('df_user.UserInfo')
	odate = models.DateTimeField(auto_now = True)
	oIsPay = models.BooleanField(default = False)
	ototal = models.DecimalField(max_digits = 6, decimal_places = 2)
	oaddress = models.CharField(max_length = 200)


class OrderDetail(models.Model):
	goods = models.ForeignKey('df_goods.GoodsInfo')
	order = models.ForeignKey(OrderInfo)
	price = models.DecimalField(max_digits=5, decimal_places=2)
	count = models.IntegerField() -->

			<ul>
				<li><a href="/user/info/">· 个人信息</a></li>
				<li><a href="/user/order/" class="active">· 全部订单</a></li>
				<li><a href="/user/site/">· 收货地址</a></li>
			</ul>
		</div>
		
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
				{% for order in olist %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{order.odate | date:"Y-n-j H:i:s " }}</li>
					<li class="col02">订单号：{{order.oid}}</li>
					<li class="col02 stress">未支付</li>		
				</ul>
				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
							{% for detail in order_list%}
								{%  ifequal detail.0 order.oid %}
									{% for detail2 in detail.1 %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/{{detail2.goods.gpic}}"></li>
									<li class="col02">{{detail2.goods.gtitle}}<em>11.80元/500g</em></li>	
									<li class="col03">{{detail2.count}}</li>
									<li class="col04">{{detail2.price}}元</li>	
								</ul>
									{% endfor %}
								{% endifequal %}
							{% endfor %}
							</td>
							
							<td width="15%">{{order.ototal}}元</td>
							<td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
						</tr>
					</tbody>
				</table>
				{% endfor %}

				<div class="pagenation">
				{% if olist.has_previous %}
				<a href="/user/order/{{olist.previous_page_number}}" class="active"><上一页</a>
				{% endif %}
				{% for page in plist %}
				{% if page == olist.number%}
				<a href="#" class="active">{{page}}</a>
				{% else %}
				<a href="/user/order/{{page}}">{{page}}</a>
				{% endif %}
				{% endfor %}
				{% if olist.has_next %}
				<a href="/user/order/{{olist.next_page_number}}" class="active">下一页></a>
				{% endif %}
				</div>

		</div>
	</div>

{% endblock content %}
